<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Denuncia</title>
    <link rel="stylesheet" href="/P01-ED03_RojasFlores/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Eliminar Denuncia</h1>
        <form action="/P01-ED03_RojasFlores/actions/delete.php" method="POST">
            <label for="id">ID de la Denuncia a Eliminar:</label>
            <input type="number" name="id" required><br><br>
            <button type="submit" class="btn btn-danger">Eliminar Denuncia</button>
        </form>
    </div>
</body>
</html>
